h2 {
    margin-top: 20px;
}

.button {
    @extend .btn;
    @extend .btn-lg;
    width: 100px;
    height: 100px;
    margin: 4px;
    font-size: 10px;
}

.button .icon {
    width: 50px;
    height: 50px;
    margin-left: 50%;
    transform: translate(-25px, 0);
}

footer {
    @extend .d-flex;
    @extend .flex-wrap;
    @extend .justify-content-between;
    @extend .align-items-center;
    @extend .py-3;
    @extend .my-4;
    @extend .border-top;

    div {
        @extend .mx-2;
        @extend .text-muted;
        @extend .text-decoration-none;
    }
}

.sequence_list {
    @extend .container;

    .sequence {
        @extend .row;
        margin-top: 2px;

        &>:nth-child(1) {
            @extend .col-sm-2;
        }

        &>:nth-child(2) {
            @extend .col-sm-10;
            @extend .d-flex;
            @extend .flex-column;
        }
    }
}


.sequence {
    .title {
        font-weight: bold;
        :hover {
            background-color: darkgrey;
            color: white;
        }
    }
    .task {
        padding-left: 10px;
        display: list-item;
        list-style: inside circle;

        span {
            margin-left: -10px;
        }

        &:hover {
            background-color: darkgrey;
            color: white;
        }
    }

    border: 2px solid black;
}

.sequence.pending.not_important {
    background-color: white;
}

.sequence.pending.important {
    background-color: lightgreen;
}

.sequence.in_progress {
    background-color: lightblue;
    border: dashed;
}

.sequence.completed {
    background-color: white;
    border: none;
}

.sequence.cancelled {
    background-color: lightcoral;
}

.tags {
    @extend .d-flex;
    @extend .flex-row;
    @extend .flex-wrap;

    .tag {
        border: 1px solid black;
        background-color: white;
        padding: 4px;
        margin: 4px;
        border-radius: 4px;

        &:hover {
            background-color: aqua;
        }
    }
}

.table .table td {
    padding: 0;
}

.table .table th {
    padding: 0;
}