on:
  pull_request:
 
env:
  NIX_REMOTE: daemon

jobs:
  build:
    runs-on: ubuntu-latest
    if: github.actor != 'brianmay-actions'
    steps:
      - uses: actions/checkout@v6
        with:
          token: ${{ secrets.GH_TOKEN_FOR_UPDATES }}
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          ref: ${{ github.event.pull_request.head.ref }}
      - uses: wimpysworld/nothing-but-nix@v6
      - uses: DeterminateSystems/nix-installer-action@v21
        with:
          determinate: true
      - name: Nix binary cache
        uses: nix-community/cache-nix-action@106bba72ed8e29c8357661199511ef07790175e9 # v7.0.1
        with:
          # restore and save a cache using this key
          primary-key: nix-${{ runner.os }}-${{ hashFiles('**/*.nix', '**/flake.lock') }}
          # if there's no cache hit, restore a cache by this prefix
          restore-prefixes-first-match: nix-${{ runner.os }}-
          # collect garbage until Nix store size (in bytes) is at most this number
          # before trying to save a new cache
          # 1G = 1073741824
          gc-max-store-size-linux: 1073741824
          # do purge caches
          purge: true
          # purge all versions of the cache
          purge-prefixes: nix-${{ runner.os }}-
          # created more than this number of seconds ago
          # relative to the start of the `Post Restore and save Nix store` phase
          purge-created: 0
          # except any version with the key that is the same as the `primary-key`
          purge-primary-key: never
 
      - run: nix flake check -L --impure
 
      - name: Fix hash mismatches
        if: failure() && github.event_name == 'pull_request'
        id: fix-hashes
        run: |
          determinate-nixd fix hashes --auto-apply

      - uses: EndBug/add-and-commit@v9
        if: failure() && github.event_name == 'pull_request'
        with:
          message: "[dependabot skip] Automatically fix Nix hashes"
          committer_name: GitHub Actions
          committer_email: 41898282+github-actions[bot]@users.noreply.github.com
